*{
    margin: 0;
    padding: 0;
}
                                                         /* Transition Animation CSS Apply */
.box{
    width: 200px;
    height: 200px;
    background-color: rgb(205, 92, 92);
    border: 2px solid cadetblue;
    transition: width 10s linear 2s,Height 2s ease 1s transform 5s;
}

.box:hover{
    width: 400px;
    height: 400px;
    transform: rotate(100deg);
}